:root {
    --default-font-family: 'Raleway', sans-serif;
    --text-color: rgb(108, 108, 108);
    --link-color: #98C7C1;
  }

.container-main {
    background-color: #F5F5F1;
    max-width: 600px;
    padding: 0;
}

.clock-image {
    max-width: 100%;
}

h1, h2, select, footer, .date, .time {
font-family: var(--default-font-family);
color: var(--text-color);
}

h1 {
    font-size: 36px;
}

.homepage a {
    text-decoration: none;
    color: var(--text-color);
    transition: all 100ms ease-in-out;
  }

  .homepage a:hover {
    cursor: pointer;
    color: var(--link-color);
  }

  .form-select {
    width: 60%;
    display: inline;
  }

  
select, option, .date {
    font-weight: 300;
}

h2, .date {
    text-align: left;
}

h2 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0;
}

.city-break {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.date {
    font-size: 18px;
}

.time {
    text-align: right;
    font-size: 32px;
    font-weight: 200;
    line-height: 36px;
}

button {
    margin: 20px auto;
}

.link-home {
    text-decoration: none;
    transition: all 100ms ease-in-out;
    color: var(--text-color);
    font-family: var(--default-font-family);
    font-size: 18px;
    font-weight: 300;
}


footer {
    font-weight: 300;
    font-size: 12px;
}

footer a {
    color: var(--link-color);
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

footer a:hover {
    color: var(--text-color);
    cursor: pointer;
}

@media (max-width: 420px) {
   h1 {
    font-size: 28px;
   }

   h2 {
    font-size: 24px;
   }

   .date {
    font-size: 16px;
   }

   .time {
    font-size: 28px;
   }

   footer {
    font-size: 10px;
   }
}